<main class="flex-col">   
   <nav class="flex-row">
      <button class="button inverted" routerLink="/dashboard">Назад</button>
      <button class="button" routerLink="/edit">Редактировать</button>
      <button class="button critical" routerLink="/dashboard">Удалить</button>
   </nav>
   <div class="flex-col block task">
      <section class="flex-col">
         <h2>Название задачи</h2>
         <p><span>Тестовая задача №1</span></p>
      </section>
      <section class="flex-col">
         <h2>Дата создания</h2>
         <p><span>20 октября 2020, 16:25</span></p>
      </section>
      <section class="flex-col">
         <h2>Приоритет</h2>
         <p><span>normal</span></p>
      </section>
      <section class="flex-col">
         <h2>Отметки</h2>
         <p><span>research</span></p>
      </section>
      <section class="flex-col">
         <h2>Описание</h2>
         <p>...</p>
      </section>
   </div>
</main>