<main class="flex-col">   
   <nav class="flex-row">
      <button class="button inverted" routerLink="/dashboard">Назад</button>
      <button class="button" routerLink="/edit">Редактировать</button>
      <button class="button critical" routerLink="/dashboard">Удалить</button>
   </nav>
   <div class="flex-col block task">
      <section class="flex-col">
         <h2>Название задачи</h2>
         <p><span>{{ task.title }}</span></p>
      </section>
      <section class="flex-col">
         <h2>Дата создания</h2>
         <p><span>{{ convertTimestamp(task.timestamp) }}</span></p>
      </section>
      <section class="flex-col">
         <h2>Приоритет</h2>
         <p><span>{{ task.priority }}</span></p>
      </section>
      <section class="flex-col">
         <h2>Отметки</h2>
         <p><span>{{ task.tags }}</span></p>
      </section>
      <section class="flex-col">
         <h2>Описание</h2>
         <p>...</p>
      </section>
   </div>
</main>