<body>
   <main class="flex-row main">
      <aside class="sidebar flex-col">
         <div class="block flex-col sidebar-block">
            <div class="flex-col">
               <h2 for="">Сортировка</h2>
               <input type="radio" name="sortby" id="sortby-newest" checked>
               <label class="radio-label" for="sortby-newest">Новые</label>
               <input type="radio" name="sortby" id="sortby-oldest">
               <label class="radio-label" for="sortby-oldest">Старые</label>
            </div>
         </div>
         <div class="flex-col block sidebar-block">
            <div class="flex-col section">
               <h2 for="">Приоритет</h2>
               <input type="checkbox" name="filter-priority" id="filter-priority-high">
               <label class="checkbox-label" for="filter-priority-high">High</label>
               <input type="checkbox" name="filter-priority" id="filter-priority-normal">
               <label class="checkbox-label" for="filter-priority-normal">Normal</label>
               <input type="checkbox" name="filter-priority" id="filter-priority-low">
               <label class="checkbox-label" for="filter-priority-low">Low</label>
            </div>
            <div class="flex-col section">
               <h2 for="">Отметка</h2>
               <input type="checkbox" name="filter-tag" id="filter-tag-res">
               <label class="checkbox-label" for="filter-tag-res">Research</label>
               <input type="checkbox" name="filter-tag" id="filter-tag-des">
               <label class="checkbox-label" for="filter-tag-des">Design</label>
               <input type="checkbox" name="filter-tag" id="filter-tag-dev">
               <label class="checkbox-label" for="filter-tag-dev">Development</label>
            </div>
         </div>
      </aside>
      <div class="content flex-col">
         <nav class="flex-row">
            <button class="button">Добавить задачу</button>
         </nav>
         <div class="tasks flex-col">
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
            <div class="task block flex-col">
               <h1>Тестовая задача №1</h1>
               <span>Создано: только что</span>
               <span>Приоритет: normal</span>
               <span>Отметки: design, development</span>
            </div>
         </div>
      </div>
   </main>
</body>