<main class="flex-row main">
   <aside class="sidebar flex-col">
      <div class="block flex-col">
         <section class="flex-col">
            <h2>Сортировка</h2>
            <input type="radio" (input)="setSort(true)" name="sortby" id="sortby-newest" value="true" [defaultChecked]="true">
            <label class="radio-label" for="sortby-newest">Новые</label>
            <input type="radio" (input)="setSort(false)" name="sortby" id="sortby-oldest">
            <label class="radio-label" for="sortby-oldest"  value="false">Старые</label>
         </section>
      </div>
      <div class="flex-col block task">
         <section class="flex-col">
            <h2>Приоритет</h2>
            <input #highPriorityInput (input)="setFilterPriority(highPriorityInput)" type="checkbox" name="filter-priority" id="filter-priority-high" value="high">
            <label class="checkbox-label" for="filter-priority-high">High</label>
            <input #normalPriorityInput (input)="setFilterPriority(normalPriorityInput)" type="checkbox" name="filter-priority" id="filter-priority-normal" value="normal">
            <label class="checkbox-label" for="filter-priority-normal">Normal</label>
            <input #lowPriorityInput (input)="setFilterPriority(lowPriorityInput)" type="checkbox" name="filter-priority" id="filter-priority-low" value="low">
            <label class="checkbox-label" for="filter-priority-low">Low</label>
         </section>
         <section class="flex-col">
            <h2>Отметка</h2>
            <input #researchTagInput (input)="setFilterTag(researchTagInput)" type="checkbox" name="filter-tag" value="research" id="filter-tag-research">
            <label class="checkbox-label" for="filter-tag-research">Research</label>
            <input #designTagInput (input)="setFilterTag(designTagInput)" type="checkbox" name="filter-tag" value="design" id="filter-tag-design">
            <label class="checkbox-label" for="filter-tag-design">Design</label>
            <input #developmentTagInput (input)="setFilterTag(developmentTagInput)" type="checkbox" name="filter-tag" value="development" id="filter-tag-development">
            <label class="checkbox-label" for="filter-tag-development">Development</label>
         </section>
      </div>
   </aside>
   <div class="content flex-col">
      <nav class="flex-row">
         <button class="button" routerLink="/edit">Добавить задачу</button>
      </nav>
      <div class="tasks flex-col" *ngFor="let task of tasks">
         <div class="task block flex-col">
            <a routerLink="/task/{{ task.id }}">{{ task.title }}</a>
            <span>Создано: {{ convertTimestamp(task.timestamp) }}</span>
            <span>Приоритет: {{ task.priority }}</span>
            <span>Отметки: <span *ngFor="let tag of task.tags">{{ tag }}</span></span>
         </div>
      </div>
   </div>
</main>