<main class="flex-col">   
   <nav class="flex-row">
      <div *ngIf="reqId; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><button class="button inverted" routerLink="/task/{{ task.id }}">Назад</button></ng-template>
      <ng-template #elseBlock><button class="button inverted" routerLink="/">Назад</button></ng-template>
   </nav>
   <div class="flex-col block edit">
      <section class="flex-col">
         <h2>Название задачи</h2>
         <input #inputTitle class="block" type="text" value="{{ (task) ? task.title : '' }}">
      </section>
      <section class="flex-col not-full-width">
         <h2>Приоритет</h2>
            <select #inputPriority class="block" name="" id="">
               <option value="normal" [selected]="task.priority === 'normal'">Normal</option>
               <option value="high" [selected]="task.priority === 'high'">High</option>
               <option value="low" [selected]="task.priority === 'low'">Low</option>
            </select>
      </section>
      <section class="flex-col not-full-width">
         <h2>Отметки</h2>
         <div class="flex-col block">
            <input type="checkbox" name="filter-tag" id="filter-tag-res" [checked]="task.tags.includes('research') ? 'checked' : ''">
            <label class="checkbox-label" for="filter-tag-res">Research</label>
            <input type="checkbox" name="filter-tag" id="filter-tag-des" [checked]="task.tags.includes('design') ? 'checked' : ''">
            <label class="checkbox-label" for="filter-tag-des">Design</label>
            <input type="checkbox" name="filter-tag" id="filter-tag-dev" [checked]="task.tags.includes('development') ? 'checked' : ''">
            <label class="checkbox-label" for="filter-tag-dev">Development</label>
         </div>
      </section>
      <section class="flex-col">
         <h2>Описание</h2>
         <textarea #inputDescription class="block" name="" id="" cols="30" rows="10" placeholder="description goes here...">{{ (task) ? task.description : '' }}</textarea>
      </section>
      <button class="button" (click)="submitData()" routerLink="/task">Сохранить</button>
   </div>
</main>