@use 'reset'

html
	scroll-behavior: smooth

body
	min-height: 100vh
	font-family: Helvetica
	background-color: ghostwhite

.flex-col
	display: flex
	flex-direction: column

.flex-row
	display: flex
	flex-direction: row

.block
	color: dimgray
	border: 1px solid lightgrey
	padding: 20px
	font-size: 14px
	border-radius: 5px
	background-color: white

.button
	color: ghostwhite
	cursor: pointer
	border: 1px solid #00000000
	padding: 15px
	max-width: max-content
	transition: .2s
	border-radius: 5px
	background-color: dodgerblue

	&:hover
		color: dodgerblue
		border-color: dodgerblue
		background-color: ghostwhite


.button.inverted
	color: grey
	border-color: lightgrey
	background-color: white

	&:hover
		color: dodgerblue
		border-color: dodgerblue

.button.critical
	color: grey
	border-color: lightgrey
	background-color: white

	&:hover
		color: white
		border-color: white
		background-color: #f44848